.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: solid 0.1rem var(--nav-bg2);
  background-color: #000;
  box-sizing: border-box;
  box-shadow: 0 0 0 0 var(--focus-color), 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease, box-shadow 200ms var(--ease-bounce);
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--accent);
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
}
.cbx:hover span:first-child {
  border-color: var(--accent);
}

.inp-cbx {
  opacity: 0 !important;
  position: absolute !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
}
.inp-cbx.invalid + .cbx span:first-child {
  border-color: red;
}
.inp-cbx:focus + .cbx span:first-child {
  box-shadow: 0 0 0 0.15rem var(--focus-color), 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.inp-cbx:checked + .cbx span:first-child {
  background: var(--accent);
  border-color: var(--accent);
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}