.cookies-notice {
	position: fixed;
	right: 0; top: 0; left: 0;
	animation: slide-down 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	transition: transform 200ms ease-out, opacity 200ms ease-out;
	pointer-events: none;
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	z-index: 1000;
}
.cookies-notice__wraper {
	pointer-events: all;
	background-color: rgba(255, 255, 255, 0.67);
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 1rem 1rem 2rem;
	backdrop-filter: blur(5px);
	border-radius: 1.5rem;
	font-weight: bold;
	box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.5);
}
.cookies-notice--hidden {
	transform: translateY(-100%);
	pointer-events: none;
	opacity: 0;
	flex-grow: 1;
}
.cookies-notice__text {
	font-size: 1em;
	/* margin: 0 2vw 0 calc(2vw + 0.8rem); */
	line-height: 1;
	max-width: 800px;
	margin: 0;
}
.cookie-notice__link {
	white-space: nowrap;
	color: #0d4687 !important;
}

@keyframes slide-down {
	0% { transform: translateY(-100%); }
	100% { transform: translateY(0); }
}

.cookies-notice__button {
	font-size: 0;
	padding: 0;
	position: relative;
	width: 1rem;
	height: 1rem;
	opacity: 0.7;
	background: none;
	border: none;
	cursor: pointer;
	transition: opacity 50ms ease-out;
	color: currentColor;
	border-radius: 100%;
	margin-left: 1rem;
	box-shadow: none;
}
.cookies-notice__button:hover {
	opacity: 1;
}
.cookies-notice__button:before, .cookies-notice__button:after {
	content: '';
	position: absolute;
	top: 0;
	left: 6px;
	height: 100%;
	width: 3px;
	background-color: currentColor;
}
.cookies-notice__button:before {
	transform: rotate(45deg);
}
.cookies-notice__button:after {
	transform: rotate(-45deg);
}