:root {
  --bg: #222;
  --nav-bg: #191919;
  --nav-txt: #fff;
  --nav-bg2: #363537;
  --nav-bg-hover: #8B888F;
  --ease-bounce: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  --color-blue: #2788e2;
}

body {
  display: grid;
  grid-template: auto / 5rem auto;
  margin: 0;
  height: 100vh;
  background: var(--bg);
  color: #fff;
  font-family: monospace;
}

nav {
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
  /* border-right: solid 0.0625rem var(--nav-bg2); */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75);
}

.nav {
  display: flex 5rem;
  flex-direction: column;
  background-color: var(--nav-bg);
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;
}
.nav--problems::before {
  content: '';
  position: absolute;
  top: 2.5rem;
  left: 2.375rem;
  height: calc(100% - 5rem);
  border-left: dotted 0.25rem var(--nav-bg2);
  z-index: 0;
}

nav::-webkit-scrollbar {
  display: none;
}

/* nav::-webkit-scrollbar {
  width: 0.25rem;
	background-color: #F5F5F5;
}

nav::-webkit-scrollbar-track {
	background-color: var(--nav-bg);
}

nav::-webkit-scrollbar-thumb {
	background-color: #666;	
} */

.nav--others{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--nav-bg);
  border-bottom: solid 0.0625rem var(--nav-bg2);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75);
}
.nav--others > li {
  --nav-txt: #fff;
}

.nav--problems > li.aviable {
  --nav-txt: #fff;
}
.nav--problems > li:not(.aviable) > a {
  cursor: not-allowed;
}
.nav > li.active {
  /* --nav-txt: #00b5bb; */
  --nav-bg: #555;
}

.nav--problems > li.done {
  --nav-txt: #24a36e;
}

.nav--problems > li {
  --nav-txt: var(--nav-bg2);
}

.nav > li > a {
  font-size: 2rem;
  color: var(--nav-txt);
  height: 5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  line-height: 1;
  position: relative;
  z-index: 1;
  outline: none;
}

.nav > li > a::before {
  transition: box-shadow 200ms var(--ease-bounce);
  box-shadow: 0 0 0 0 var(--color-blue);
  content: '';
  position: absolute;
  border-radius: 5rem;
  border: solid 0.125rem var(--nav-txt);
  top: 0.667rem;
  bottom: 0.667rem;
  left: 0.667rem;
  right: 0.667rem;
  background-color: var(--nav-bg);
  z-index: -1;
}

.nav > li > a:hover::before{
  background-color: #444;
}

.nav > li > a:focus::before {
  background-color: #444;
  box-shadow: 0 0 0 0.2rem var(--color-blue);
}

main {
  padding: 2rem;
  display: grid;
  grid-template: auto min-content / auto;
  height: 100vh;
  box-sizing: border-box;
}

.problem {
  overflow: auto;
  scroll-behavior: smooth;
}

.logo{
  user-select: none;
}
.logo img{
  height: 2rem;
}

.answer > textarea {
  width: 100%;
  min-height: 2.5rem;
  height: 10rem;
  background-color: #000;
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  resize:vertical;
  box-shadow: 0 0 0 0 var(--color-blue), 0 0 0.5rem rgba(0, 0, 0, 0.75);
  outline: none;
  color: #fff;
  padding: 0.75rem 1rem;
  transition: box-shadow 200ms var(--ease-bounce);
}
.answer > textarea:focus {
  box-shadow: 0 0 0 0.2rem var(--color-blue), 0 0 0.5rem rgba(0, 0, 0, 0.75);
}

.scrollBar::-webkit-scrollbar {
  width: 0.25rem;
	background-color: #F5F5F5;
}
.scrollBar::-webkit-scrollbar-track,
.scrollBar::-webkit-scrollbar-corner{
	background-color: #000;
}
.scrollBar::-webkit-scrollbar-thumb {
	background-color: #ddd;	
}

.answer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0;
}
.answer-row > button {
  background-color: #0c7eff;
  color: #fff;
  font-weight: bold;
  font-family: monospace;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0.75rem 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border-radius: 0.5rem;
  margin: 0;
  cursor: pointer;
  box-shadow: 0 0 0 0 #fff, 0 0.125rem 1rem rgba(13, 44, 143, 0.5);
  outline: none;
  transition: box-shadow 200ms var(--ease-bounce);
  user-select: none;
}
.answer-row > button:focus {
  box-shadow: 0 0 0 0.2rem #fff, 0 0.125rem 1rem rgba(13, 44, 143, 0.5);
}
.answer-row > a {
  transition: box-shadow 200ms var(--ease-bounce);
  box-shadow: 0 0 0 0 #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: -0.5rem;
  outline: none;
}
.answer-row > a:focus {
  box-shadow: 0 0 0 0.2rem #fff;
}
.answer-row > span {
  display: none;
  flex-grow: 1;
  text-align: right;
  margin-right: 1rem;
}
.feedback {
  animation: ;
}
#feedback-true { color: #7bee8e; animation: heartBeat 1.3s ease-in-out; }
#feedback-false { color: #ee7b8b; animation: shake 0.4s linear; }
#feedback-undefined { color: #cccccc; animation: flash 1s linear; }

@keyframes heartBeat {
  0%  { transform: scale(1); }
  14% { transform: scale(1.3); }
  28% { transform: scale(1); }
  42% { transform: scale(1.3); }
  70% { transform: scale(1); }
}

@keyframes shake {
  from,
  to { transform: translate3d(0, 0, 0); }
  40%,
  80% { transform: translate3d(10px, 0, 0); }
  20%,
  60% { transform: translate3d(-10px, 0, 0); }
}

@keyframes flash {
  from,
  50%,
  to { opacity: 1; }
  25%,
  75% { opacity: 0; }
}